body {
 font-family: Arial,sans-serif;
 margin-top: 50px;
 text-align: justify;
 background-color: aquamarine;

}




#date {
  font-size: 44px;  
  font-weight: italic;
  padding: 10px;
  border-radius: 5px;
  


}